services:
  db:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=1234
    ports:
      - 5432:5432
    # volumes:
    #   - C:\Users\268903258\Documents\dockercompose_f\csv_testes:/docker-entrypoint-initdb.d
    #   - C:\Users\eu\Downloads\csv_testes://docker-entrypoint-initdb.d